/* Home.css */

  .home-container {
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;  */
  }

  .home2-container {
    display: flex;
    margin-top: 20px; 
  }
  
  #sc2 {
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px; 
  }
  
  #sc23 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fa-magnifying-glass {
    font-size: 24px;
  }
  
  input {
    margin-top: 1px;
    margin-left: 5px;
    padding: 12px;
    padding-left: 500px;
    font-size: 18px;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 1px;
    margin-left: 5px;
    padding: 12px 16px;
    font-size: 18px;
  }
  
  #sc6 {
    margin-top: 20px;
  }
  
  #sc6 img {
    max-width: 100%;
    height: auto;
  }
  
  .about-section {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2; /* background color  */
  }
  
  .slideshow-section,
.picture-section {
  flex: 1;
}

.slideshow-section img,
.picture-section img {
  width: 100%;
  height: auto;
}

  .about-section,
.Experience-section {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2; /* background color */
}

.left-column,
.right-column {
  flex: 1;
  width: 50%;
  box-sizing: border-box;
}