/* Navbar.css */

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; 
  background-color: lightskyblue;
  padding-bottom: 25px;
  margin-bottom: 110px;
}

.navbar-title {
  padding-top: 15px;
  margin-right: 20px; 
  color: white;
}

nav-nvs {
  padding: 10px;
}

ul-nvs {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li-nvs {
  margin-right: 20px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
