/* styles.css */

/* Navbar styles */
#nvs1 {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: auto;
}

#nvs22 {
  width: 4%;
  padding-top: 1%;
  color: #888585;
  display: flex;
  margin-left: 1%;
}

#nvs22 > i {
  margin-top: 50%;
  margin-left: 0.5%;
}

/* Register styles */
#nvscontainer {
  font-family: Arial, Helvetica, sans-serif;
}

#nvs5 {
  height: 400px;
  width: 30%;
  margin: auto;
}

#nvs5 > input[type="text"],
#nvs5 > input[type="email"],
#nvs5 > input[type="password"] {
  height: 45px;
  width: 98%;
  border-radius: 10px;
  background-color: #f7f7f7;
  border: 1px solid rgb(131, 131, 131);
}

#nvs5 > button {
  height: 55px;
  width: 98%;
  border-radius: 100px;
  background-color: #c7c7c7;
  color: white;
  border: #c7c7c7;
}
